   body {
      margin: 0;
      padding: 0;
      background: #777;
    }
    
    #container {
      margin: 0 auto;
      width: 960px;
      text-align: center;
    }
    
    #header {
      background: #ebebeb;
      padding: 10px;
      margin-bottom: 20px;
    }
    
    #nav {
      background: #ebebeb;
      padding: 10px;
      margin-bottom: 20px;
    }
    
    #aside {
      float: right;
      background: #ebebeb;
      width: 35%;
      height: 300px;
      margin-bottom: 20px;
    }
    
    #section {
      float: left;
      background: #ebebeb;
      width: 60%;
      height: 300px;
      margin-bottom: 20px;
    }
    
    #article {
      background-color: #777;
      margin: 20px 30px;
    }
    
    #h1h2h3 {
      background-color: #ebebeb;
    }
    
    #footer {
      clear: both;
      background-color: #ebebeb;
      padding: 10px;
      margin-bottom: 20px;
    }